@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 430px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  header .navigation_menu {
    padding-top: 15px;
  }
  header .navigation_menu a {
    font-size: 16px;
  }
  header .registration {
    text-align: center;
  }
  header .registration a {
    font-size: 20px;
  }
  header .registration a:hover {
    color: #EF6010;
  }
  header .search_input {
    margin: auto;
  }
  header .search_input input {
    border-radius: 10px;
    border: 0px;
  }
  .banner-info .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-info .container .banner-image img {
    height: auto;
    width: 350px;
  }
  .banner-info .container .banner-text {
    width: 85%;
    margin: 0 auto;
  }
  .banner-info .container .banner-text .banner-title h1 {
    font-size: 43px;
    text-align: center;
  }
  .banner-info .banner-text {
    width: auto;
  }
  .products-logo .products-container {
    width: 90%;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .guide .guide-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide .guide-block .guide-image {
    margin: 0 auto;
  }
  .guide .guide-block .guide-image img {
    width: 380px;
    height: auto;
  }
  .guide .guide-block .guide-info .guide-title {
    text-align: center;
  }
  .guide .guide-block .guide-info .accordion {
    width: auto;
  }
  .why-choose-us .why-us-title {
    width: auto;
  }
  .why-choose-us .why-us-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured-jobs .featured-jobs-text {
    width: auto;
  }
  .featured-jobs .featured-jobs-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .review .review-review {
    width: auto;
  }
  .review .review-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review .review-block .review-text {
    width: auto;
  }
  .review .review-block .review-text .review-main-text {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
  }
  .review .review-block .review-text .review-submain-text {
    width: 90%;
    margin: 0 auto;
  }
  .review .review-block .review-nav {
    padding-top: 25px;
  }
  .numbers .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan .plan-main-text {
    width: auto;
  }
  .plan .plan-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    gap: 20px;
  }
  footer .container-footer {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container-footer hr {
    display: none;
  }
  footer .container-footer .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  footer .container-footer .footer-info .footer-nav ul {
    width: 150px;
    display: none;
  }
}