@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 430px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .banner-info .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-info .container .banner-image img {
    height: auto;
    width: 350px;
  }
  .banner-info .banner-text {
    width: auto;
  }
  .products-logo .products-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .guide .guide-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide .guide-block img {
    width: 350px;
    height: auto;
  }
  .guide .guide-block .guide-info .accordion {
    width: auto;
  }
  .why-choose-us .why-us-title {
    width: auto;
  }
  .why-choose-us .why-us-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured-jobs .featured-jobs-text {
    width: auto;
  }
  .featured-jobs .featured-jobs-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review .review-review {
    width: auto;
  }
  .review .review-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review .review-block .review-text {
    width: auto;
  }
  .numbers .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan .plan-main-text {
    width: auto;
  }
  .plan .plan-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container-footer {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container-footer hr {
    display: none;
  }
  footer .container-footer .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container-footer .footer-info .footer-nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}