@media screen and (min-width: 320px) and (max-width: 768px) {
    .container{
        max-width: 430px;
    }
    header{
        display: flex;
        flex-direction: column;
        width: auto;
        .navigation_menu{
            padding-top: 15px;
            a{
                font-size: 16px;
            }
        }
        .registration{
            text-align: center;
            a{
                font-size: 20px;
            }
            a:hover{
                color: #EF6010;
            }
        }
        .search_input{
            margin: auto;
            input{
                border-radius: 10px;
                border: 0px;
            }
        }
    }
    .banner-info{
        .container{
            display: flex;
            flex-direction: column;
            .banner-image{
                img{
                    height: auto;
                    width: 350px;
                }
            }
            .banner-text{
                width: 85%;
                margin: 0 auto;
                .banner-title{
                    h1{
                        font-size: 43px;
                        text-align: center;
                    }
                    
                }
            }
            
        }
        .banner-text{
            width: auto;
        }

    }
    .products-logo{
        .products-container{
            width: 90%;
            flex-flow: wrap;
        }
    }
    .guide{
        .guide-block{
            display: flex;
            flex-direction: column;
            .guide-image{
                margin: 0 auto;
                img{
                    width: 380px;
                    height: auto;
                }
            }
            .guide-info{
                .guide-title{
                    text-align: center;
                }
            }

            .guide-info{
                .accordion{
                    width: auto;
                }
            }
        }
    }   
    .why-choose-us{
        .why-us-title{
            
            width: auto;
        }
        .why-us-cards{
            flex-direction: column;
            align-items: center;
        }
    }
    .featured-jobs{
        .featured-jobs-text{
            width: auto;
        }
        .featured-jobs-slider{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .review{
        .review-review{
            width: auto;
        }
        .review-block{
            flex-direction: column;
            .review-text{
                width: auto;
                .review-main-text{
                    font-size: 28px;
                    text-align: center;
                    font-weight: 500;
                }
                .review-submain-text{
                    width: 90%;
                    margin: 0 auto;
                }
            }
            .review-nav{
                padding-top: 25px;
            }
        }
    }
    .numbers{
        .container{
            display: flex;
            flex-direction: column;
        }
    }
    .plan{
        .plan-main-text{
            width: auto;
        }
        .plan-cards{
            flex-direction: column;
        }
    }
    footer{
        .container{
            flex-wrap: wrap;
            width: 90%;
            gap: 20px;
        }
        .container-footer{
            width: auto;
            flex-wrap: wrap;
            hr{
                display: none;
            }
            .footer-info{
                display: flex;
                flex-direction: row;
                align-items: end;
                .footer-nav{
                    ul{
                       width: 150px;
                       display: none;
                       
                    }
                    }
                }
            }
        }
    }
